/* line 1, /home/ubuntu/465/final/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/ubuntu/465/final/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/ubuntu/465/final/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/ubuntu/465/final/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /home/ubuntu/465/final/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /home/ubuntu/465/final/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/ubuntu/465/final/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/ubuntu/465/final/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /home/ubuntu/465/final/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/ubuntu/465/final/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/ubuntu/465/final/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/ubuntu/465/final/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
* {
 margin: 0;
 padding: 0;
 font-family: 'Roboto Condensed', sans-serif;
}
form{
  display: inline;
}
#body {
  background: #FCFFF0;
}
#notification { 
  color: #C1D3D7;
  font-weight: bold;
  font-size: 115%;
  position: relative;
  top: 50px;
  width: 80% !important;
  margin: 0 auto;
  background: #C54E4E;
  width: 100%;
  z-index: 2;
  transition-duration: .6s;
  transition-property: transform;
  transition-timing: ease-out;
}
#notification:hover{
  transform: scale(1.02);
}
@-webkit-keyframes shake{
  25% { -webkit-transform: translate(1px, 0px) rotate(0deg); }
  50% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
  75% { -webkit-transform: translate(-1px, 0px) rotate(0deg); }
}
i:hover, i:focus{
  -webkit-animation-name: shake;
  -webkit-animation-duration: .2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: ease-in;
}
form input{
  transition-duration: .6s !important;
  transition-property: transform, border !important;
  transition-timing: ease-out !important;
}
form input:hover{
  transform: scale(1.02);
}
form input:focus{
  border: 3px solid #00FF00;
}
#user_nav {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  color: #FCFFF0;
  background: #3A3A38;
  z-index: 1;
  transition-property: height;
  transition-duration: .3s;
  transition-timing: ease-out;
}
#user_nav:hover {
 height: 50px;
}
img{
  max-width: 100%;
  max-height: 100%;
}
.memberBackground{
  background: #00FF00;
}
#wrap {
  position: relative;
  top: 50px;
  color: #50A6C2;
  font-size: 110%;
  margin: 0 auto;
  width: 80%;
  height: 1210px;
  background: #FCFFF0;
  bottom: 10px;
  padding: 30px;
}
@media screen and (max-width: 960px) {
  #wrap{
    margin: 0;
    width: 100%;
  }
}
#sidebar {
  display: none;
/*  position: absolute;
  height: calc(100% - 10px);
  width: 20%;
  min-width: 200px;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  background: #E8F1D4; */
} /*
#mainContent {
  position: absolute;
  width: 100%; 
  height: 1200px;
  padding: 20px;
  background: #FCFFF0;
  color: #414F12; 
}*/
#welcome{
  position: absolute;
  width: 100%;
  height 300px;
  background: #E8F1D4;
  z-index: 2;
}
.form-basic {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  width: calc(100%-40px);
  margin: 0 auto;
  text-align: center;
  min-width: 350px;
  background: #EFEFEF;
}
.selected{
 background: #CFD784;
}
.not_selected{
  background: #EFEFEF;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.event_members{
  border-radius: 15px;
  height: 30px;
  margin: 5px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  border: none;
  display: inline;
}
.event_members:focus{
  outline: none;
}
.event_members_div{
  margin: 10px;
}
.showImage{
  margin: 0 auto;
  text-align: center;
  background: #333;
  border: 5px solid #333;
  color: #FCFFF0;
  max-height: 450px;
}
img{
  transition-property: transform;
  transition-duration: .6s;
  transition-timing: ease-out;
}
img:hover{
  transform: scale(1.05);
}
.showImage input{ color: #333; }
#mainImageShow{
 max-height: 400px;
}
.tag i { 
  color: #333;
}

.tag span {
  font-weight: bold;
  color: #232323;
}

.tag{
  background: #CFD784;
  border-radius: 15px;
  display:inline;
  padding: 5px;
  margin: 5px;
}
.imageBorder{
  border: 5px solid #333;
}
.fullWidth{
  position: relative;
  margin: 0 auto;
  width: 60%;
}
.centerText{
  text-align: center;
}
.margins{ 
  margin: 10px 5px;
}
.padding{
  padding: 10px;
}
.xpadding{
  padding: 25px 0px;
}
a:hover{
 background: #FCFFF0;
}
a{
  color: #50A6C2 !important;

}
.smallerbox{
  width: 400px;
  border-radius: 10px;
  transition-property: transform;
  transition-duration: .4s;
  transition-timing: ease-out;
}
.smallerbox:hover{
 transform: scale(1.05);
}
input[type="submit"]{
  transition-property: transform;
  transition-duration: .3s;
  transition-timing: ease-in;
}
input[type="submit"]{
  transform: scale(1.1);
}
.greenBorder{
  border: 5px solid #EFEFEF;
}
.inline{
  display: inline !important;
}
.pictureFrame{
  height: 100px; 
  margin: 0 auto;  background: #333;
  margin: 0 auto;
}
.nobuttonstyle{
  background: none;
  border: none;
}
